{% extends "layout.html" %}
{% block content %}
<div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  <span>
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
</span>
  {% endfor %}
{% endif %}
{% endwith %}
    </div>
    <div class="col-4">
    <div class="content-section">
        <body>
            <h1>Upload your CSV file</h1>
            <form method="POST" action="" enctype="multipart/form-data">
              <p><input type="file" name="file"></p>
              <p><input type="submit" value="Submit"></p>
            </form>
          </body>
       
      
        </div>
       
          
     
    </div>
    
{% endblock content %}